:root {
  --primary-color: #f9f9fb;
  --secondary-color: #132d51;
  --dark-color: #1f2021;
}
html,
body {
  overflow-x: hidden;
}

.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--secondary-color);
}
